
@{
    ViewData["Title"] = "splash";
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <script src="~/App/app.js"></script>
    <script src="~/App/service.js"></script>
    <script src="~/App/WAINY/startController.js"></script>
    <script src="~/App/WAINY/wainyController.js"></script>
    <script src="~/App/WAINY/splashController.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <title>wainy</title>
</head>
<body ng-app="wainy">
    <!---->
    <!--<div ng-controller="startController">
        -->
    <div id="splash" ng-controller="splashController">



        <img class="splash" src="~/images/AppImage/vista_1.png" />

        
            <div class="splash" layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        

    </div>



    <!---->
    <!--
    </div>-->
</body>
</html>



