
@{
    ViewData["Title"] = "splash";
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
   
    <script src="~/App/app.js"></script>
    <script src="~/App/service.js"></script>
    <script src="~/App/WAINY/startController.js"></script>
    <script src="~/App/WAINY/wainyController.js"></script>
    <script src="~/App/WAINY/splashController.js"></script>

    

    <title>wainy</title>
</head>
<body ng-app="wainy">
    <!---->
    <!--<div ng-controller="startController">
        -->
    <div id="back" class="splash" ng-controller="splashController">



        @*<img class="splash" src="~/images/AppImage/vista_1.png" />*@
        <img id="splash_logo" class="splash" src="~/images/AppImage/Vianima_logo.png" />
        <div class="loader">

            <div class="inner one"></div>

            <div class="inner two"></div>

            <div class="inner three"></div>

        </div>


    </div>



    <!---->
    <!--
    </div>-->
</body>
</html>



