
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/service.js"></script>

    <script src="~/App/WAINY/startController.js"></script>
    <script src="~/App/WAINY/wainyController.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>wainy</title>
</head>
<body>
    <!---->
    <!--<div ng-controller="startController">
        -->
        <div id="chat" ng-controller="wainyController">



            <div id="webchat" role="main"></div>

        </div>


        <script>
            Console.log("Lo script funziona");
        </script>
        <!---->
        <!--
    </div>-->
</body>
</html>
