
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <script src="~/App/app.js"></script>
    <script src="~/App/service.js"></script>
    <script src="~/App/WAINY/startController.js"></script>
    <script src="~/App/WAINY/wainyController.js"></script>

    <title>wainy</title>
</head>
<body ng-app="wainy">
    <!---->
    <!--<div ng-controller="startController">
        -->
    <div id="chat" ng-controller="wainyController">



        <div id="webchat" role="main"></div>
        
    </div>


        
        <!---->
        <!--
    </div>-->
</body>
</html>
