<div class="center">
  <h1>Beacon Simulator</h1>
  <div class="center">

      <div id="mapWrapper">
        <img id="map" src="../assets/Images/via_francigena1.jpg">
        <button type="button" class="circleButton" (click)="sendBeacon('1')" id="beacon1"></button>
        <button type="button" class="circleButton" (click)="sendBeacon('2')" id="beacon2"></button>
        <button type="button" class="circleButton" (click)="sendBeacon('3')" id="beacon3"></button>
        <button type="button" class="circleButton" (click)="sendBeacon('4')" id="beacon4"></button>
        <button type="button" class="circleButton" (click)="sendBeacon('5')" id="beacon5"></button>   
    </div>
  </div>
</div>