#msg{
margin-left: 3%;
width: 79%;
}

#send{
    border-radius: 50%;
    position: absolute;
    bottom: 16%;
    right: 3%;
}
.tp-button-row button,
.tp-button-row a {
   margin-right: 8px;
}
.tp-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
 }
 .tp-full-width {
    width: 100%;
 }
 #msg_form{
    width: 80%;
    margin-left: 3%;
   max-width: inherit;
 }