<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<div id="wrapper">
<div id="Header">

  <mat-toolbar color = "primary" class="navbar">
    <a class="navbar-brand gap" >
      <img src="../assets/Image/VIANIMA.png" id="Logo">
    </a>
    <span class = "filler"></span>
    <button mat-button [matMenuTriggerFor] = "menu" id="menu" ><i class="fas fa-bars"></i></button>
    </mat-toolbar>     
    <mat-menu #menu = "matMenu">
      <button mat-menu-item>New</button>
      <button mat-menu-item>Open</button>        
   </mat-menu>   

</div>
  <div id="outlet">
    <router-outlet></router-outlet>
  </div>

</div>

