#Body
{
    text-align: center;
    margin: 10%;

}
p{
    margin: 10%;
}
#Logo
{
width: 28%;
}
#wrapper
{
  height: 100vh;
}
#outlet
{
  margin-top: 15%;
  background-color:white;
  height: 100%;  width:100%;
}

#Header
{
  overflow: hidden;
  top:0;
  position: fixed;
  width: 100%;
}
.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 10px;
}
.tp-button-row button,
.tp-button-row a {
   margin-right: 8px;
}
#menu{  
  font-size: 1.3em;
}